[submodule "components/esp32-owb"]
	path = components/esp32-owb
	url = https://github.com/DavidAntliff/esp32-owb.git
[submodule "components/esp32-ds18b20"]
	path = components/esp32-ds18b20
	url = https://github.com/DavidAntliff/esp32-ds18b20.git
[submodule "components/esp32-tft"]
	path = components/esp32-tft
	url = https://github.com/mvolk/esp32-tft.git
[submodule "components/esp32-st7789"]
	path = components/esp32-st7789
	url = https://github.com/mvolk/esp32-st7789.git
[submodule "components/esp32-adafruit-114-tft"]
	path = components/esp32-adafruit-114-tft
	url = https://github.com/mvolk/esp32-adafruit-114-tft.git
[submodule "components/esp-aws-iot"]
	path = components/esp-aws-iot
	url = https://github.com/espressif/esp-aws-iot
[submodule "components/esp32-ds3231"]
	path = components/esp32-ds3231
	url = https://github.com/mvolk/esp32-ds3231.git
