menu "Pipsqueak"

config EXTERNAL_DS18B20_GPIO
  int "1-Wire GPIO for external DS18B20 temperature sensor"
  range 0 33
  default 18
  help
    GPIO number (IOxx) to access the One Wire Bus to which the external temperature
    sensor - and only the external temperature sensor - is connected.

    Some GPIOs are used for other purposes (flash connections, etc.) and cannot be used.

    GPIOs 34-39 are input-only so cannot be used to drive the One Wire Bus.

config INTERNAL_DS18B20_GPIO
  int "1-Wire GPIO for internal (on-board) DS18B20 temperature sensor"
  range 0 33
  default 19
  help
    GPIO number (IOxx) to access the One Wire Bus to which the internal temperature
    sensor - and only the internal temperature sensor - is connected.

    Some GPIOs are used for other purposes (flash connections, etc.) and cannot be used.

    GPIOs 34-39 are input-only so cannot be used to drive the One Wire Bus.

config SPI_MISO_GPIO
  int "SPI MISO GPIO Pin"
  range 0 33
  default 12
  help
    GPIO number (IOxx) serving as the SPI MISO signal carrier.

    Some GPIOs are used for other purposes (flash connections, etc.) and cannot be used.

    GPIOs 34-39 are input-only so cannot be used to drive the One Wire Bus.

    GPIO 12 by default.

config SPI_MOSI_GPIO
  int "SPI MOSI GPIO Pin"
  range 0 33
  default 13
  help
    GPIO number (IOxx) serving as the SPI MOSI signal carrier.

    Some GPIOs are used for other purposes (flash connections, etc.) and cannot be used.

    GPIOs 34-39 are input-only so cannot be used to drive the One Wire Bus.

    GPIO 13 by default.

config SPI_CLK_GPIO
  int "SPI Clock GPIO Pin"
  range 0 33
  default 14
  help
    GPIO number (IOxx) serving as the SPI clock signal carrier.

    Some GPIOs are used for other purposes (flash connections, etc.) and cannot be used.

    GPIOs 34-39 are input-only so cannot be used to drive the One Wire Bus.

    GPIO 14 by default.

config SPI_DMA_CHANNEL
  int "DMA Channel"
  range 1 2
  default 2
  help
    The DMA channel that the Pipsqueak's SPI peripheral interface will use.

    There are two DMA channels available for use by the SPI hosts: channel
    1 and channel 2.

    Channel 2 by default.

config SPI_HOST
  int "SPI Host"
  range 1 2
  default 1
  help
    The SPI host that the Pipsqueak's SPI peripheral interface will use.

    HSPI (1) or VSPI (2).

    HSPI by default.

endmenu
